<!DOCTYPE html>
<html lang="en">
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/css/Jcrop.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/css/Jcrop.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/js/Jcrop.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/js/Jcrop.min.js"></script>

  <style>
    .column {
      float: left;
      width: 49%;
      padding: 5px;
    }

  /* Clear floats after image containers */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    body{

      background-color: white;
    }
  </style>

</head>
<body color>
<div id="response"></div>
<input type="file" accept=".jpg" id="imageSelection" onchange="imageDisplay(this);"></input>
<div class="row">
    <div class="column">
      <img id="target" src="" onerror="this.style.display='none'" style="width:100%">
      <img id="backup" src="" onerror="this.style.display='none'" style="width:100%">
    </div>
    <div class="column" style="position:relative">
      <img id="heatmap" src="" onerror="this.style.display='none'" style="position: absolute; width:700px; height:500px;">
      <img id="original" src="" onerror="this.style.display='none'" style="position: absolute; width:700px; height:500px; opacity:0.2">

    </div>
</div>
<!-- Comment out if want to use the button only solution -->
<form method='post' id ='submit'>
    {% csrf_token %}
    <input type='submit' value='Submit'/>
</form>

<!-- This could be used if only want to use the button and not form just uncomment it-->
<!-- <button id="submit">Submit</button> -->
<button id="resetSelect">reset</button>

<form id="coords"
  class="coords"
  onsubmit="return false;"
  action="http://example.com/post.php">

  <div class="inline-labels">
  <label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
  <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
  <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
  <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
  <label>W <input type="text" size="4" id="w" name="w" /></label>
  <label>H <input type="text" size="4" id="h" name="h" /></label>
  </div>
</form>

<section>
    <h2>Attribute Selection</h2>
    <p>
      <label for="patch">
        <span>Patch Size</span>
      </label>
      <select id="patch" name="patchSize">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
        <option value="16">16</option>
      </select>
    </p>
    <p>
      <label for="stride">
          <span>Stride Size</span>
      </label>
      <select id="stride" name="strideSize">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
        <option value="16">16</option>
      </select>
    </p>
    <p>
      <label for="model">
        <span>Select the model to run:</span>
      </label>
      <select id="model" name="modelSize">
        <option value="VGG">VGG</option>
        <option value="ResNet">ResNet</option>
      </select>
    </p>
</section>

<form action="">
  <input type="radio" name="mode" value="exact"> Krypton Exact<br>
  <input type="radio" name="mode" value="approximate"> Krypton Approximate<br>
  <input type="radio" name="mode" value="naive"> Naive
</form>


  <script type="text/javascript">
  function imageDisplay(input){
    if (input.files && input.files[0]){
      var imageDisplay = new FileReader();


      imageDisplay.onload = function (e) {
          $('#target')
              .attr('src', e.target.result)
      };

      imageDisplay.readAsDataURL(input.files[0]);
    }
  }

    jQuery(function($){

      var jcrop_api;
      $('#target').Jcrop({
        onChange:   showCoords,
        onSelect:   showCoords,
        onRelease:  clearCoords,
        boxWidth: 700,
        boxHeight: 500,
      },function(){
        jcrop_api = this;
      });

      $('#coords').on('change','input',function(e){
        var x1 = $('#x1').val(),
            x2 = $('#x2').val(),
            y1 = $('#y1').val(),
            y2 = $('#y2').val();
        jcrop_api.setSelect([x1,y1,x2,y2]);
      });

      $('#resetSelect').on('click',function(e){

        jcrop_api.destroy();
        clearCoords();
        $('#target').Jcrop({
          onChange:   showCoords,
          onSelect:   showCoords,
          onRelease:  clearCoords,
          boxWidth: 700,
          boxHeight: 500,
        },function(){
          jcrop_api = this;

        });
      });

    });

    // jQuery(function($){
    //
    //   var jcrop_api;
    //   $('#heatmap').Jcrop({
    //     onChange:   showCoords,
    //     onSelect:   showCoords,
    //     onRelease:  clearCoords,
    //   },function(){
    //     jcrop_api = this;
    //   });
    //
    // });

    function showCoords(c)
    {
      $('#x1').val(c.x);
      $('#y1').val(c.y);
      $('#x2').val(c.x2);
      $('#y2').val(c.y2);
      $('#w').val(c.w);
      $('#h').val(c.h);
    };

    function clearCoords()
    {
      $('#x1').val("");
      $('#y1').val("");
      $('#x2').val("");
      $('#y2').val("");
      $('#w').val("");
      $('#h').val("");
    };

    $(document).ready(function() {
       $("#submit").click(function(event){

            //This will be used with button only
            // var csrf_token = getCookie('csrftoken');

            var csrf_token = $('#submit [name="csrfmiddlewaretoken"]').val();
            var image = document.getElementById("imageSelection").files[0];
            var ePatch = document.getElementById("patch").value;
            var eStride = document.getElementById("stride").value;
            var eModel = document.getElementById("model").value;
            var fd = new FormData(document.getElementById("coords"));
            var mode = document.querySelector('input[name="mode"]:checked').value;
            fd.append('file', image);
            fd.append('patchSize', ePatch);
            fd.append('strideSize', eStride);
            fd.append('model', eModel);
            fd.append('mode', mode);
            $.ajax({
                 type:"POST",
                 url:"/selectedRegion/",
                 headers:{
                   "X-CSRFToken": csrf_token
                 },
                 processData: false,
                 contentType: false,
                 data: fd,
                 success: function(message){
                   console.log("success");
                   $('#heatmap').attr('src', "/media/photos/heatmap.png")
                   $('#heatmap').show();
                   $('#original').attr('src', "/media/photos/animals.jpg");
                   $('#original').show();
                   $("#resetSelect").click();
                 },
                 error : function(xhr,errmsg,err) {
                   console.log(xhr.status + ": " + xhr.responseText);
                }
            });
            return false;
       });

     });


    // This is used with button only solution and not the form
    //  function getCookie(name) {
    //     var cookieValue = null;
    //     if (document.cookie && document.cookie !== '') {
    //         var cookies = document.cookie.split(';');
    //         for (var i = 0; i < cookies.length; i++) {
    //             var cookie = jQuery.trim(cookies[i]);
    //             // Does this cookie string begin with the name we want?
    //             if (cookie.substring(0, name.length + 1) === (name + '=')) {
    //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    //                 break;
    //             }
    //         }
    //     }
    //     return cookieValue;
    // }


  </script>

</body>
