<!DOCTYPE html>
<html lang="en">
<head>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/css/Jcrop.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/css/Jcrop.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/js/Jcrop.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/js/Jcrop.min.js"></script>

  <style>
    .column {
      float: left;
      width: 49%;
      padding: 5px;
    }

  /* Clear floats after image containers */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    .jcrop img {
      max-width: none;

    }
    .custom {
      width: 250px !important;
    }
    body{

      background-color: white;
      margin-left: 6%;
      margin-top: 20px;
    }

    .grade {
      font-size: 12px;
      padding: 2px;
      line-height: 1;
      display: inline-block;
      border-radius: 0.25em;
      border: 1px solid;
    }

    .grade--expired {
      color: #bc1619;
      background: rgba(230, 41, 44, 0.15);
      border-color: rgba(188, 22, 25, 0.15);
    }

    .grade--expiring {
      color: #d84a0f;
      background: rgba(241, 107, 51, 0.15);
      border-color: rgba(216, 74, 15, 0.15);
    }

    .grade--bad {
      color: #f59304;
      background: rgba(252, 173, 58, 0.15);
      border-color: rgba(245, 147, 4, 0.15);
    }

    .grade--okay {
      color: #5e634f;
      background: rgba(126, 133, 106, 0.15);
      border-color: rgba(94, 99, 79, 0.15);
    }

    .grade--great {
      color: #00375c;
      background: rgba(0, 92, 153, 0.15);
      border-color: rgba(0, 55, 92, 0.15);
    }

    .bar-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .bar {
      max-width: 800px;
      margin: 10px auto 0;
      margin-right: 27%;
    }

    .legend {
      display: flex;
      justify-content: space-between;
    }
    .legend__item {
      margin-top: 10px;
      font-size: 13px;
    }
    .legend__item:nth-of-type(1) {
      color: #e6292c;
    }
    .legend__item:nth-of-type(2) {
      color: #f16b33;
    }
    .legend__item:nth-of-type(3) {
      color: #fcad3a;
    }
    .legend__item:nth-of-type(4) {
      color: #7e856a;
    }
    .legend__item:nth-of-type(5) {
      color: #005c99;
    }

    .legend-gradient {
      width: 100%;
      height: 30px;
      background: linear-gradient(to right, #e6292c, #f16b33, #fcad3a, #7e856a, #005c99);
    }


  </style>

</head>
<body color>
<div id="response"></div>

<div class="input-group mb-3" style="padding-right:30%;">
  <div class="input-group-prepend">
    <span class="btn btn-outline-primary" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input btn-primary" id="imageSelection" aria-describedby="inputGroupFileAddon01" onchange="imageDisplay(this);">
    <label class="custom-file-label" for="imageSelection">Choose file</label>
  </div>
  <div class="group">
    <span class="btn" id="prediction" style="fontsize:30px;"></span>
  </div>
</div>

<!-- Comment out if want to use the button only solution -->
<div id="elementsAfterImage" style="display:none;">
  <div class="bar">
  <h5 style="font-weight: lighter;">Probability legend</h5>
    <div class="legend-gradient"></div>
    <div class="legend">
      <div class="legend__item">0.0</div>
      <div class="legend__item">0.2</div>
      <div class="legend__item">0.5</div>
      <div class="legend__item">0.8</div>
      <div class="legend__item">1.0</div>
    </div>
  </div>
  <div class="row">
      <div class="column">
        <img id="target" src="" onerror="this.style.display='none'" style="">
      </div>
      <div class="column" style="position:relative">
        <img id="heatmap" src="https://via.placeholder.com/700x525.png?text=Heatmap+will+be+displayed+here" onerror="this.style.display='none'" style="position: absolute; width:700px; height:525px;">
        <img id="original" src="" onerror="this.style.display='none'" style="position: absolute; width:700px; height:525px; opacity:0.2">

      </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h4 id="estimate_time" style="font-weight: lighter;"></h4>
        </div>
        <div class="col-lg">
        </div>
        <div class="col-sm" style="text-align:center;">
          <h4 id="actual_time" style="font-weight: lighter;"></h4>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <div class="container" style="border-style: dashed; border-width: thin; margin-left:190px;">
    <!-- <div class="row" style="text-align: center;">
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-success custom">
          <input type="checkbox" checked autocomplete="off"> Krypton Exact
        </label>
        <label class="btn btn-success custom">
          <input type="checkbox" checked autocomplete="off"> Krypton Approximate
        </label>
        <label class="btn btn-success custom">
          <input type="checkbox" checked autocomplete="off"> Naive
        </label>
      </div>
    </div> -->
    <input type="radio" name="mode" value="naive" style="margin-left:9rem;" checked> Naive
    <input type="radio" name="mode" value="exact" style="margin-left:15.2rem;"> Krypton Exact
    <input type="radio" name="mode" value="approximate" style="margin-left:14.3rem;"> Krypton Approximate

  </div><br>
    <form id="coords"
      class="coords"
      onsubmit="return false;"
      action="http://example.com/post.php" style="display:none;">

      <div class="inline-labels">
      <label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
      <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
      <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
      <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
      <label>W <input type="text" size="4" id="w" name="w" /></label>
      <label>H <input type="text" size="4" id="h" name="h" /></label>
      </div>
    </form>

    <section>
      <div class="form-inline">
        <div class="input-group" style="margin-left:; padding-bottom:1rem;">
          <form method='post' id ='submit'>
              {% csrf_token %}
              <input class="btn btn-primary btn-sm" type='submit' value='Submit'/>
          </form>

          <!-- This could be used if only want to use the button and not form just uncomment it-->
          <!-- <button id="submit">Submit</button> -->
          <button class="btn btn-danger btn-sm" id="resetSelect">reset</button>
        </div>
        <div class="input-group mb-3" style="margin-left:10rem;">
          <div class="input-group-prepend">
            <label class="input-group-text" for="patch" style="background-color:#00b33c;">Patch size</label>
          </div>
          <select class="custom-select" id="patch">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="4">Four</option>
            <option value="8">Eight</option>
            <option value="16">Sixteen</option>
          </select>
        </div>
        <div class="input-group mb-3" style="margin-left:8.5rem;">
          <div class="input-group-prepend">
            <label class="input-group-text" for="stride" style="background-color:#00b33c;">Stride size</label>
          </div>
          <select class="custom-select" id="stride">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="8">Eight</option>
            <option value="16">Sixteen</option>
          </select>
        </div>
        <div class="input-group mb-3" style="margin-left:9.7rem;">
          <div class="input-group-prepend">
            <label class="input-group-text" for="model" style="background-color:#00b33c;">CNN Model</label>
          </div>
          <select class="custom-select" id="model">
            <option selected>Choose...</option>
            <option value="VGG">VGG</option>
            <option value="ResNet">ResNet</option>
            <option value="Inception">Inception</option>
          </select>
        </div>
      </div>
    </section>


</div>

  <script type="text/javascript">
  function imageDisplay(input){
    if (input.files && input.files[0]){
      var imageDisplay = new FileReader();


      imageDisplay.onload = function (e) {
          $('#target')
              .attr('src', e.target.result)
      };

      imageDisplay.readAsDataURL(input.files[0]);
      $('#elementsAfterImage').show()
      $('#firstTitle').invisible()
    }
  }

  jQuery.fn.invisible = function() {
    return this.css('visibility', 'hidden');
  };

    jQuery(function($){

      var jcrop_api;
      $('#target').Jcrop({
        onChange:   showCoords,
        onSelect:   showCoords,
        onRelease:  clearCoords,
        boxWidth: 700,
        boxHeight: 525,
      },function(){
        jcrop_api = this;
      });

      $('#coords').on('change','input',function(e){
        var x1 = $('#x1').val(),
            x2 = $('#x2').val(),
            y1 = $('#y1').val(),
            y2 = $('#y2').val();
        jcrop_api.setSelect([x1,y1,x2,y2]);
      });

      $('#resetSelect').on('click',function(e){

        jcrop_api.destroy();
        clearCoords();
        $('#target').Jcrop({
          onChange:   showCoords,
          onSelect:   showCoords,
          onRelease:  clearCoords,
          boxWidth: 700,
          boxHeight: 525,
        },function(){
          jcrop_api = this;

        });
      });

    });

    function showCoords(c)
    {
      $('#x1').val(c.x);
      $('#y1').val(c.y);
      $('#x2').val(c.x2);
      $('#y2').val(c.y2);
      $('#w').val(c.w);
      $('#h').val(c.h);
    };

    function clearCoords()
    {
      $('#x1').val("");
      $('#y1').val("");
      $('#x2').val("");
      $('#y2').val("");
      $('#w').val("");
      $('#h').val("");
    };

    $(document).ready(function() {
       $("#submit").click(function(event){

            //This will be used with button only
            // var csrf_token = getCookie('csrftoken');

            var csrf_token = $('#submit [name="csrfmiddlewaretoken"]').val();
            var image = document.getElementById("imageSelection").files[0];
            var ePatch = document.getElementById("patch").value;
            var eStride = document.getElementById("stride").value;
            var eModel = document.getElementById("model").value;
            var fd = new FormData(document.getElementById("coords"));
            var mode = document.querySelector('input[name="mode"]:checked').value;
            var xCheck = document.getElementById("x1").value

            if (xCheck == ""){

              if (mode == "naive"){

                text = "23.20 s"
              }
              else if(mode == "exact") {

                text = "4.81 s"
              }
              else {

                text = "3.60 s"
              }
            }
            else {

              if (mode == "naive"){

                text = "19.31 s"
              }
              else if(mode == "exact") {

                text = "3.85 s"
              }
              else {

                text = "3.23 s"
              }
            }
            $('#actual_time').text("");
            $('#estimate_time').text("Estimated time: " + text);
            fd.append('file', image);
            fd.append('patchSize', ePatch);
            fd.append('strideSize', eStride);
            fd.append('model', eModel);
            fd.append('mode', mode);
            $.ajax({
                 type:"POST",
                 url:"/selectedRegion/",
                 headers:{
                   "X-CSRFToken": csrf_token
                 },
                 processData: false,
                 contentType: false,
                 data: fd,
                 success: function(message){
                   console.log(message);
                   $('#heatmap').attr('src', message['heatmap_url'])
                   $('#heatmap').show();
                   $('#original').attr('src', message['url']);
                   $('#original').show();
                   $('#prediction').text("Prediction: " + message['prediction']);
                   // $('#estimate_time').text("Estimated time: " + message['estimate_time'] + " s");
                   $('#actual_time').text("Actual time: " + message['actual_time'] + " s");
                   $("#resetSelect").click();
                 },
                 error : function(xhr,errmsg,err) {
                   console.log(xhr.status + ": " + xhr.responseText);
                }
            });
            return false;
       });

     });


    // This is used with button only solution and not the form
    //  function getCookie(name) {
    //     var cookieValue = null;
    //     if (document.cookie && document.cookie !== '') {
    //         var cookies = document.cookie.split(';');
    //         for (var i = 0; i < cookies.length; i++) {
    //             var cookie = jQuery.trim(cookies[i]);
    //             // Does this cookie string begin with the name we want?
    //             if (cookie.substring(0, name.length + 1) === (name + '=')) {
    //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    //                 break;
    //             }
    //         }
    //     }
    //     return cookieValue;
    // }


  </script>

</body>
